.main {
  display: flex;
  flex: 1 1 auto;
  max-width: 320px;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.header {
  display: flex;
  min-width: 100%;
  justify-content: flex-end;
}

.closeButton {
  align-self: flex-end;
  align-items: center;
  display: flex;
  background-color: transparent;
  color: white;
}

.heading2 {
  margin-bottom: 0;
}