.main {
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid #3a3a3c;
  padding: 0 35px;
  margin-bottom: 15px;
}

.main h1 {
  margin: 15px 0;
}

.iconButton {
  border: 0;
  background-color: transparent;
}

.hamburgerMenu {
  visibility: hidden;
}